body {
  margin: 0;
}

.page {
  width: 600px;
  margin: 20px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 20px;
}
.header-item {
  flex-basis: 0;
  flex-grow: 1;
}
.content {
  display: flex;
}
.sidebar {
  width: 200px;
  background-color: black;
  color: #eee;
  padding: 20px;
}
.main {
  width: 400px;
  background-color: red;
  padding: 10px;
}
.footer {
  background-color: #eee;
  padding: 10px;
}
